<div class="container mt-4">
  <div class="card">
    <img [src]="imagenUrl" class="card-img-top" alt="Imagen demo">
    <div class="card-body">

      <h4 class="card-title">{{ autor }}</h4>
      <h5 class="card-title">{{ titulo }}</h5>
      <!--<p class="text-muted">ID: {{ id }}</p>-->
      <p>ID: {{ id }}</p>
      <p class="card-text">{{ descripcion }}</p>
      <p class="text-muted">Fecha: {{ fecha }}</p>
      <button class="btn btn-primary" (click)="mostrarNombre()">Acción</button>
      <button class="btn btn-secondary" [routerLink]="['/curso-detalle', id]">Ver Detalle</button>

      <!-- <a [routerLink]="['/producto', producto.id]">
  Ver detalles de {{producto.nombre}}
</a> -->

    </div>
  </div>
</div>