<p>registro works!</p>


<form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">

    <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" type="text" formControlName="nombre">
    </div>

    <div>
        <label for="apellido">Apellido:</label>
        <input id="apellido" type="text" formControlName="apellido">
    </div>

    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
    </div>

    <div>
        <label for="password">Contraseña:</label>
        <input id="password" type="password" formControlName="password">
    </div>

    <button type="submit">Registrarse</button>
</form>