<header>
    <nav>
        <ul>
            <li><a routerLink="">Inicio</a></li>
            <li><a routerLink="/cursos">Cursos</a></li>
            <li><a routerLink="/peliculas">Películas</a></li>
            <li><a routerLink="/demo-form-reactivo">Demo Form Reactivo</a></li>
            <li><a routerLink="/demo-form-registro">Demo Form Registro</a></li>
            <li><a routerLink="/demo-formbuilder">Demo Form Builder</a></li>
            <li><a routerLink="/demo-validaciones">Demo Validaciones</a></li>
            <li><a routerLink="/paises">Países</a></li>

        </ul>
    </nav>
</header>
<div>
    <h1>{{ title }}</h1>
    <div>Mi primer componente</div>
    <router-outlet></router-outlet>
    <!-- <pm-welcome></pm-welcome> -->
    <!-- <pm-counterdemo [initialValue]="5"></pm-counterdemo> -->
    <!-- <pm-cursos-lista></pm-cursos-lista> -->
    <!-- <pm-peliculas></pm-peliculas> -->
</div>